/* Cores:
    bisque
    darkgreen
    lightskyblue
    lightgray
    darkred
    indigo
    red
    yellow */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SansSerif", sans-serif;
}

html, body {
    padding: 3px;
    background-color: lightgray;
}

h2 {
    text-align: center;
}

.header {
    width: 100%;
    height: 170px;
    background-color: bisque;
    border: 4px solid indigo;
}

.header img {
    width: 150px;
    height: 150px;
}

.header h2 {
    position: absolute;
    top: 12%;
    left: 40%;
    padding: 0 2%;
    margin: 0 auto;
    color: darkgreen;
}

#logo1 {
    position: absolute;
    top: 10px;
    left: 0;
}

#logo2 {
    position: absolute;
    top: 10px;
    right: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: lightskyblue;
}

.menu a {
    text-align: center;
    text-decoration: none;
    margin: 0 25px;
    font-size: 15px;
    color: darkred;
}

.box-paragrafo {
    width: 100%;
    padding: 10px;
    height: 380px;
    margin: 10px 0;
}

.box-paragrafo p {
    position: relative;
    top: 25px;
    font-size: 20px;
    color: indigo;
}

.livros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.livro-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 23px;
}

.box-livros {
    max-width: 200px;
    margin: 0 40px;
}

.box-livros img {
    width: 100%;
    height: 250px;
}