/** Estilização global **/
:root {
  --bg: #1F3140;
  --bg-menu: #6B98BF;
  --bg-section: #0D1C26;
  --color-font-menu: #0D1C26;
  --color-font01: #6B98BF;
  --box-paragrafo: #617C8C;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html body {
  height: 100%;
  background-color: var(--bg);
}

.center  {
  max-width: 1280px;
  padding: 0 2%;
  margin: 0 auto;
}

.img {
  min-width: 400px;
  width: 100%;
  border-radius: 5px;
}

.w50 {
  padding: 0 10px;
  width: 50%;
}

.w33 {
  padding: 0 15px;
  width: 33.3%;
}

.left {
  float: left;
}

.right {
  float: right;
}

h2 {
  color: var(--color-font01);
  font-size: 35px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 9.5px;
  text-align: center;
}

.clear {
  clear: both;
}

/** Estilização do menu **/

.menu {
  width: 100%;
  height: 70px;
  background-color: var(--bg-menu);
}

.menu h1 {
  margin-left: 10px;
  padding: 15px;
  color: var(--color-font-menu);
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 9.5px;
}

.link-menu {
  margin: 23px auto;
}

.link-menu a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--color-font-menu);
  font-size: 18px;
  letter-spacing: 5px;
}

/** Estilização da Apresentação **/

section.about {
  padding: 60px 0;
  background-color: var(--bg-section);
}

.box-paragrafo {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--bg);
}

.box-paragrafo h2 {
  margin-bottom: 7px;
  color: var(--color-font01);
}

.box-paragrafo p {
  padding: 10px;
  font-size: 20px;
  color: var(--color-font01);
}

/** Estilização da lista **/

section.especialidades{
  padding: 60px 0;
  margin: 0.2% 0;
  background-color: var(--bg-section);
}

section.especialidades ul {
  padding: 25px;
  list-style-type: none;
}

section.especialidades ul li {
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 2;
  color: var(--color-font01);
}

section.especialidades .box-lista {
  margin-top: 20px;
  width: 100%;
  border: 0.5px solid var(--color-font01);
  border-radius: 5px;
}

/** Estilização da galeria **/

section.galeria {
  padding: 60px 0;
  margin: 0.2% 0;
  background-color: var(--bg-section);
}

section.galeria h2 {
  margin-bottom: 20px;
}

section.galeria .box-img {
  display: flex;
  height: 250px;
  border-radius: 5px;
  transition: transform .5s ease;
}

.box-img:hover {
  transform: scale(1.1);
}

section.galeria img {
  padding: 5px;
}

/** Estilização dos iframe **/

section.iframe {
  padding: 60px 0;
  background-color: var(--bg-section);
}

section.iframe h2 {
  margin-bottom: 20px;
}

section.iframe .box-div-iframe {
  margin-bottom: 40px;
}

section.iframe .box-iframe {
  width: 560px;
  height: 315px;
  padding: 15px;
}

section.iframe .box-iframe iframe {
  width: 100%;
  height: -webkit-fill-available;
  border-radius: 5px;
}

/** Estilização dos iframe map **/

section.iframe-map {
  padding: 60px 0;
  background-color: var(--bg-section);
  border-top: 1px solid var(--color-font01);
}

section.iframe-map h2 {
  margin-bottom: 20px;
}

section.iframe-map iframe {
  width: 100%;
  border-radius: 5px;
}